.DS_Store
*.tmp
export/

# CORPUS IS NOT COMMITTED (copyright): contents of raw_* stay local in both kits;
# only the empty folders are versioned via .gitkeep
cs/raw_primary/*
cs/raw_secondary/*
en/raw_primary/*
en/raw_secondary/*
!cs/raw_primary/.gitkeep
!cs/raw_secondary/.gitkeep
!en/raw_primary/.gitkeep
!en/raw_secondary/.gitkeep
